.icon-preview[data-v-bc39f022]{flex:1;display:flex;flex-direction:column;height:100%}.loading-container[data-v-bc39f022]{display:flex;flex-direction:column;align-items:center;justify-content:center;padding:40px;gap:15px}
